<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/manage student</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">1234</property>

    <mapping class="Main.POJO.Clazz"/>
    <mapping class="Main.POJO.ClassInfo"/>
    <mapping class="Main.POJO.Course"/>
    <mapping class="Main.POJO.CourseRegister"/>
    <mapping class="Main.POJO.Role"/>
    <mapping class="Main.POJO.Semester"/>
    <mapping class="Main.POJO.Session"/>
    <mapping class="Main.POJO.Subject"/>
    <mapping class="Main.POJO.User"/>
    <mapping class="Main.POJO.Attend"/>


  </session-factory>
</hibernate-configuration>